<!doctype html>
<html lang="ja">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/style.css">

<title>PHP</title>
</head>
<body>
<header>
<h1 class="font-weight-normal">PHP</h1>    
</header>

<main>

<p>
<?php
$command="python exec_from_php.py ";
exec($command,$output);
//print "$output[0]\n";
//print "$output[1]\n";
//print "$output[2]\n";
$text = $output[0].'<br>'.$output[1].'<br>'.$output[2];
echo $text;

?>
</p>



<h2>Practice</h2>

<?php
require('dbconnect.php');

//urlにページが指定されている場合とそうでない場合(または数字以外が指定された場合）で場合分け（指定なしの場合は１ページ目）
if (isset($_REQUEST['page']) && is_numeric($_REQUEST['page'])){
    $page = $_REQUEST['page'];
} else{
    $page=1;
}



//5項目ごとにページに表示
$start = 5*($page - 1) ;

//$memos = $db->query('SELECT * FROM memos ORDER BY id DESC');
# 表示数制限
//$memos = $db->query('SELECT * FROM memos ORDER BY id DESC LIMIT 0, 5');
$memos = $db->prepare('SELECT * FROM memos ORDER BY id DESC LIMIT ?, 5');

// bindParamについて後で調べる
$memos->bindParam(1,$start, PDO::PARAM_INT);
$memos->execute();

?>

<article>
    <?php while ($memo = $memos ->fetch()): ?>
        <p><a href="memo.php?id=<?php print($memo['id']); ?>">
            <?php 
            //print($memo['memo']); 
            //表示テキスト数を制限
            print(mb_substr($memo['memo'], 0, 50));            
            ?></a></p> 
        <time><?php print($memo['created_at']); ?></time>
        <hr>
    <?php endwhile; ?>
    
    <?php if ($page>=2): ?>
        <a href="index.php?page=<?php print($page-1);?>"><?php print($page-1); ?>ページ目へ</a>
    <?php endif; ?>
    |
    <?php
    
    //メモの総件数をカウントする
    $counts = $db->query('SELECT count(*) as cnt FROM memos');
    
    $count = $counts->fetch();
    // 何件目を５で割ったものの小数点を切り上げる。    
    $max_page= ceil($count['cnt']/5);
    if ($page<$max_page):
    ?>
    <a href="index.php?page=<?php print($page+1);?>"><?php print($page+1); ?>ページ目へ</a>
    <?php endif; ?>
</article>

<!-- // $records = $db ->query('SELECT * FROM my_items');
// //fetch() 一行を取り出す
// while ($record = $records->fetch()){
//         print($record['item_name'] . "\n");
// } -->


</main>
</body>    
</html>