<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    this is the main page
    
    <p>
        対象オッズを入力してください。 
        予算{{result.budget}}
        ベットリスト{{result.each_bet}}
        合計ベット{{result.total_bet}}
        配当リスト{{result.return_list}}
        
        </p>
    
        

    <form action="" method="POST">
        <p>
            <label>予算&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp; 
                <input type="number" name="budget" value="" style="width: 60px;" min="100" max="1000000000000" step="100">
            </label>
            円
        </p>
        <p>
        <label>オッズ➀&nbsp&nbsp&nbsp&nbsp; 
            <input type="number" name="keyword1" value="{{result.odds1}}" style="width: 60px;" min="1" max="200" step="0.1">
        </label>
        倍
        </p>
        <p>
        <label>オッズ➁&nbsp&nbsp&nbsp&nbsp; 
            <input type="number" name="keyword2" value="{{result.odds2}}" style="width: 60px;" min="1" max="200" step="0.1">
        </label>
        倍
        </p>
        <p>
        <label>オッズ➂&nbsp&nbsp&nbsp&nbsp; 
            <input type="number" name="keyword3" value="{{result.odds3}}" style="width: 60px;" min="1" max="200" step="0.1">
        </label>
        倍
        </p>
    
        </div>
        <div class="modal-footer">
        <input type="submit" value="送信">
        </div>
    </form>





    </body>
</html>